header{
    border-radius: 0 0 $border_rad $border_rad;
}

.main_header {
    position: relative;

    .container {
        display: flex;
        justify-content: space-between;
        z-index: 1;
    }
    .left_side {
        width: 60%;

        .top {
                @include flex-display;

                @media (max-width:480px) {
                    justify-content: center;
                }
            }

            .logo {
                img {
                    max-width: 90px;
                    min-width: 50px;
                }
            @media (max-width:1024px) {
                img {
                        max-width: 65px;
                }
            }
            }

            .nav {
                flex: 2;
                padding: 40px 0;
                &__list {
                    @include flex-display;
                    justify-content: flex-end;
                    gap: 80px;

                    @media (max-width:1240px) {
                        gap: 40px;
                    }
                }

                &__link{
                    font-size: 1.25rem;

                    &:hover {
                        color: $hover_color;
                    }
                }

                 @media (max-width:1024px) {
                    padding: 20px 0;
                 }

                 @media (max-width:480px) {
                    display: none;
                 }
            }
        @media (max-width:1366px) {
            width: 42%;
        }

        @media (max-width:1024px) {
            width: 100%;
            .top{
                align-items: center;
            }
        }
    }

    .right_side {
        width: 40%;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        overflow: hidden;
        border-bottom-right-radius: $border_rad;
        &::before {
            content: '';
            position: absolute;
            left: -1px;
            width: 102%;
            height: 102%;
            background-image: url('../img/kpt-banner-frame.svg');
            background-size: cover;
            background-position: bottom left;
            z-index: 1;
        }

        .header-banner {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        @media (max-width:1366px) {
            width: 48%;
        }

        @media (max-width:1024px) {
            display: none;
        }
    }
}


.hero {
    @include flex-display;
    flex-direction: column;
    gap: 40px;
    padding: 60px 0 140px 0;

    &__title {
        font-size: 2.5rem;
        font-weight: 500;
        margin: $main_title_mg 0;

        @media (max-width:480px) {
            font-size: 1.8rem;
        }
    }

    &__description {
        width: 75%;
        font-size: 1.25rem;

        @media (max-width:1366px) {
            width: 100%;
        }

        @media (max-width:480px) {
            font-size: 1rem;
        }
    }

    &__buttons {
        a:last-child {
            margin-left: 20px;
            }
        }

    @media (max-width: 1024px){
        padding: 40px 0;
        gap: 20px;
    }

    @media (max-width:480px) {
        text-align: center;
        padding: 20px 0;
    }
}

.section-about{
    text-align: center;
    padding: 60px 0;
    &__title {
        font-size: 2rem;
        font-weight: 500;
        margin: $main_title_mg 0;

        @media (max-width: 480px){
            font-size: 1.5rem;
        }
    }

    @media (max-width: 992px){
        padding: 25px 0;
    }

}

.section-services{
    padding: 60px 0;
    &:nth-child(odd) &__content {
        flex-direction: row-reverse;

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }
    &__content{
        @include flex-display;
        gap: 50px;

        &-wrapper{
            flex: 1;
        }
        &-item{
            flex: 1;
        }
        hr{
            width: 100%;
            max-width: 280px;
            border: none;
            height: 2px;
            background-color: $main_color;
            margin: 20px 0 20px 0;
        }

        &-img img{
            width: 400px;
            border-radius: $border_rad;
        }



        @media (max-width: 1200px){
            justify-content:space-between
        }

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 10px;
            &-img {
                margin: 0 auto;
                img {
                    width: 100%;
                    max-width: 520px;
                }
            }
        }

    }

        @media (max-width: 992px){
            padding: 25px 0;
        }
}

.section-contacts{
    padding-bottom: 60px;
    &__content{
        display: flex;
        &-text{
            flex: 1;
        }

        &-map{
            flex: 1;

            .map_contacts{
                height: 100%;
                box-shadow: $box_shadow;
                border-radius: $border_rad;
                overflow: hidden;

        @media (max-width: 992px) {
            width: 100%;
            height: 350px;
        }
            }
        }

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 20px;
        }
    }

}


.footer{
    background-color: $footer_bg;
    &-content{
        @include flex-display;
        padding: 20px 0;

        @media (max-width: 480px){
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }
    .logo {
        img {
            max-width: 90px;
            min-width: 50px;
        }
    }

    .nav {
        margin-left: auto;
        &__list {
            @include flex-display;
            gap: 30px;
        }

        &__link{
            font-size: 1.25rem;
            color: white;
            &:hover {
                color: $hover_color;
            }

            @media (max-width: 480px){
                font-size: 14px;
            }
        }
        @media (max-width: 480px){
            margin-left: 0;
        }
    }
}
