.text_styles {

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        color: $main_color;
        margin: 20px 0;

        @media (max-width: 992px) {
            text-align: center;
        }

        @media (max-width: 480px){
            font-size: 1.2rem;
        }
    }

    p{
        margin: 20px 0;

        @media (max-width: 480px){
            font-size: 14px;
        }
    }

    ul li {
        margin: 10px 0;
        position: relative;
        padding-left: 20px;

        @media (max-width: 480px){
            font-size: 14px;
        }
    }

    ol{
        counter-reset: my-numbers;
        padding-left: 20px;
        list-style: none;

        li {
            margin: 10px 0;
            position: relative;

        @media (max-width: 480px) {
                font-size: 14px;
            }
        }

        li::before{
            color: $main_color;
            font-weight: bold;
            position: absolute!important;
            left:-20px;
            top:0;
            content: counter(my-numbers);
            counter-increment: my-numbers;
        }
    }

    ul li:before{
        content:"";
        position: absolute;
        width: 6px;
        height: 6px;
        left: 0;
        top:7px;
        border-radius: 2px;
        background-color: $main_color;
    }

    div{
        @media (max-width: 480px){
            font-size: 14px;
        }
    }
}



@media (max-width: 320px) {
    .text_styles {
        word-break: break-all;
    }
}
