//Colors
$main_color: #2396d5;
$hover_color: #2396d5AA;
$sub_color: #5aa495;
$black_color: #000;

$light_blue_bg:#E1E9F7;
$footer_bg:#354D73;

$purpl_bg_color:#e1e8f8;
$gray_bg_color:#F5F5F5;
$gray_border_color:#B4C5C5;


$main_transition: all .5s ease;

//Fonts
$main_fonts:'Roboto', sans-serif;
$main_title_mg: 20px;


$border_rad: 50px;

$button_border_rad: 20px;

$section_space: 20px;
$conteiner_max_w: 1280px;

$box_shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
$box_padding: 1.25rem;
$box_border_rad: 6px;


//Breackpoints

